{% extends "template.html" %}

{% block content %}
<h2>MGH Sharing Board</h2>

{% if oidc.user_loggedin %}
<div>
    <svg id="graphic" width=800 height=200></svg>
    <div id="map"></div>
    
    <p>Welcome back, <span></span>!</p>
    <p>You have successfully authenticated against your Okta org, and have been redirected back to this application.</p>
    <p>Visit the <a href="{{ url_for('profile') }}">My Profile</a> page in this application to view the information
        retrieved with your OAuth Access Token.</p>
    <script>
        let dot = d3.select("#graphic")
            .append("circle")
            .attr("cx", 100)
            .attr("cy", 100)
            .attr("r", 50)
            .attr("fill", "blue");

        dot.transition()
            .duration(3000)
            .attr("r", 10);

            
    </script>

    <script>
    var map;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: -34.397, lng: 150.644},
        zoom: 8
      });
    }
    </script>
 
</div>
{% else %}
<div>
    <p>Hello!</p>
    <p>If you're viewing this page then you have successfully configured and started this example server.</p>
    <p>This example shows you how to to add the <a href="https://developer.okta.com/authentication-guide/implementing-authentication/auth-code.html">Authorization Code Flow</a> to your PHP application.</p>
    <p>When you click the login button below, you will be redirected to the login page on your Okta org.  After you authenticate, you will be returned to this application.</p>
</div>

<form method="get" action="login">
    <button id="login-button" class="btn btn-primary" type="submit">Login</button>
</form>
{% endif %}
{% endblock content %}
